@model ProjectMusic.Entities.Domain.Genre

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenrePhotoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenrePhotoUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GenreId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
