@model ProjectMusic.Entities.Domain.Genre

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Edit Genre</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.GenreId)

        <div class="mb-3 card card-body w-50">
            <h5 class="card-title">Genre Name</h5>
            <h6 class="card-subtitle">
                @Html.EditorFor(model => model.GenreName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GenreName, "", new { @class = "text-danger" })
            </h6>
            <h5 class="card-title">Genre Photo Url</h5>
            <h6 class="card-subtitle">
                @Html.EditorFor(model => model.GenrePhotoUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GenrePhotoUrl, "", new { @class = "text-danger" })
            </h6>

            <div>
                <input type="submit" value="Save" class="btn btn-success mt-4 main-button" />
                <a href="/Admin/Album" class="btn btn-primary mt-4 w-25 float-right">Back to List</a>
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
