@model PagedList.IPagedList<ProjectMusic.Entities.Domain.Genre>
@using PagedList;
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "All Genres";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@{
    SelectListItem a1 = new SelectListItem() { Text = "5", Value = "5" };
    SelectListItem a2 = new SelectListItem() { Text = "10", Value = "10" };
    SelectListItem a3 = new SelectListItem() { Text = "25", Value = "25" };
    SelectListItem a4 = new SelectListItem() { Text = "50", Value = "50" };
    SelectListItem a5 = new SelectListItem() { Text = "100", Value = "100" };
    List<SelectListItem> items = new List<SelectListItem>() { a1, a2, a3, a4, a5 };
}

<div class="main-card mb-3 card">
    <div class="card-header">
        Manage Genres
    </div>
    <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">Genre Id</th>
                    <th>Genre Name</th>
                    <th class="text-center">Has Picture</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center text-muted">@Html.DisplayFor(modelItem => item.GenreId)</td>
                        <td>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left flex2">
                                        <div class="widget-heading">@Html.DisplayFor(modelItem => item.GenreName)</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            @{
                                if (item.GenrePhotoUrl != null)
                                {
                                    <div class="badge badge-success">True</div>

                                }
                                else
                                {
                                    <div class="badge badge-danger">False</div>
                                }
                            }
                        </td>
                        <td class="text-center">
                            <a href="/Admin/Genre/Details/@item.GenreId" class="btn-icon btn-icon-only btn btn-primary"><i class="pe-7s-info btn-icon-wrapper"></i> Details</a>
                            <a href="/Admin/Genre/Edit/@item.GenreId" class="btn-icon btn-icon-only btn btn-warning"><i class="pe-7s-edit btn-icon-wrapper"></i> Edit</a>
                            <a href="/Admin/Genre/Delete/@item.GenreId" class="btn-icon btn-icon-only btn btn-danger"><i class="pe-7s-trash btn-icon-wrapper"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-block text-center card-footer">
        <a class="btn-icon btn-icon-only btn btn-primary" href="/Admin/Genre/Create"><i class="pe-7s-plus btn-icon-wrapper mr-2"></i>Create New</a>
    </div>
</div>

<div class="container-fluid box">
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, x => @Url.Action("Index", "Genre", new { page = x, sortOrder = ViewBag.CurrentSortOrder, searchName = ViewBag.CurrentName, pSize = ViewBag.CurrentpSize }))
    </div>
    <div>
        @using (Html.BeginForm("Index", "Genre", FormMethod.Get, new { @class = "form-inline" }))
        {
            @Html.TextBox("searchName", null, new { @class = "form-control", placeholder = "Search Name" })
            string str = ViewBag.CurrentSortOrder;
            @Html.TextBox("sortOrder", str, new { type = "hidden" })

            @Html.DropDownList("pSize", items, new { @class = "form-control" })
            <input type="submit" value="Search" class="btn btn-primary" />
        }
    </div>
</div>