@model ProjectMusic.Entities.Domain.ApplicationUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h4>User Information</h4>
    <hr />

    <div class="mb-2 card card-body w-50">
        <h5 class="card-title">Email</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.Email)</h6>

        <h5 class="card-title">User Name</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.UserName)</h6>

        <h5 class="card-title">Password Hash</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.PasswordHash)</h6>

        <h5 class="card-title">Email Confirmation</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.EmailConfirmed)</h6>

        <h5 class="card-title">Security Stamp</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.SecurityStamp)</h6>

        <h5 class="card-title">Two-Factor Authentication Enabled</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.TwoFactorEnabled)</h6>

        <h5 class="card-title">Lockout End Date Utc</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.LockoutEndDateUtc)</h6>

        <h5 class="card-title">Lockout Enabled</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.LockoutEnabled)</h6>

        <h5 class="card-title">Failed Access Amount</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.AccessFailedCount)</h6>

        <div>
            <a href="/Admin/AppUserAdmin/Edit/@Model.Id" class="btn btn-warning mt-4 main-button">Edit</a>
            <a href="/Admin/AppUserAdmin" class="btn btn-primary mt-4 w-25 float-right">Back to List</a>
        </div>
    </div>
</div>