@model ProjectMusic.Entities.Domain.Album

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h4>Album Deletion</h4>
    <hr />

    <div class="mb-2 card card-body w-50">

        <h5 class="card-title">Album Id</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.AlbumId)</h6>

        <h5 class="card-title">Album Name</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.AlbumName)</h6>

        <h5 class="card-title">Album Price</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.AlbumPrice)</h6>

        <h5 class="card-title">Album Purchases</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.AlbumPurchases)</h6>

        <h5 class="card-title">Album Photo Url</h5><h6 class="card-subtitle">@Html.DisplayFor(model => model.AlbumPhotoUrl)</h6>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <input type="submit" value="Delete" class="btn btn-danger mt-4 main-button" />
                <a href="/Admin/AppUserAdmin" class="btn btn-primary mt-4 w-25 float-right">Back to List</a>
            </div>
        }
    </div>
</div>