@model ProjectMusic.Entities.Domain.Album

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AlbumId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumPhotoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumPhotoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumPurchases)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumPurchases)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
