<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Analytics Dashboard - This is an example dashboard created using build-in elements and components.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/adminTheme/main.css" rel="stylesheet">
</head>
<body>

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">

        <div>
            @RenderPage("~/Areas/Admin/Views/Shared/Components/_NavigationBarAdmin.cshtml")
        </div>

        <div>
            @RenderPage("~/Areas/Admin/Views/Shared/Components/_UIThemeAdmin.cshtml")
        </div>

        <div class="app-main">

            <div>
                @RenderPage("~/Areas/Admin/Views/Shared/Components/_SidePanelAdmin.cshtml")
            </div>

            <div>
                @RenderBody()
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>