@model ProjectMusic.Web.Models.StatsViewModel
@using System.Linq;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@{
    var orderAmount = Model.Orders.Count();
    var clients = Model.Users.Where(x => x.Orders.Count > 0).Select(x => x.UserName).Count();
    var profit = Model.Orders.Select(x => x.Album.AlbumPrice).Sum();
}

<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-midnight-bloom">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Orders</div>
                    <div class="widget-subheading">In total</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>@orderAmount</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-arielle-smile">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Clients</div>
                    <div class="widget-subheading">In total</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>@clients</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-grow-early">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Profit</div>
                    <div class="widget-subheading">In total</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>$ @profit</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-xl-none d-lg-block col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-premium-dark">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Products Sold</div>
                    <div class="widget-subheading">Revenue streams</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-warning"><span>$14M</span></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                    TOP 5 Best-Selling Albums
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tabs-eg-77">
                        <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                            <div class="widget-chat-wrapper-outer">
                                <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                                    <canvas id="pieChart" height="400" width="700"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title">
                    <i class="header-icon lnr-rocket icon-gradient bg-tempting-azure"> </i>
                    Top 3 Most Valuable Customers
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="tab-eg-55">
                    <div class="widget-chart p-3">
                        <canvas id="barChart" height="500" width="700"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h1 style="margin-bottom: 20px">Best-Selling Albums</h1>

@{
    var bestSellingAlbums = Model.Albums.OrderByDescending(x => x.AlbumPurchases);
    var bestSellingAlbum = Model.Albums.OrderByDescending(x => x.AlbumPurchases).Select(x => x.AlbumName).FirstOrDefault();
    var bestSellingNum = Model.Albums.OrderByDescending(x => x.AlbumPurchases).Select(x => x.AlbumPurchases).FirstOrDefault();
    var albumAmount = Model.Albums.Count();
}

@foreach (var album in bestSellingAlbums)
{
    <h4>Album Name: @album.AlbumName</h4>
    <h4>Album Purchases: @album.AlbumPurchases</h4>
    <h4>Album Songs: @album.Songs.Count()</h4>
}

<h1>Albums</h1>
<h4>@albumAmount albums in our database</h4>
<h4>Best-Selling Album: @bestSellingAlbum with @bestSellingNum sales</h4>

@{
    var usersAmount = Model.Users.Count();
}

<h1>@usersAmount registered users</h1>

<h1>User Table</h1>

@foreach (var user in Model.Users)
{
    <h4>User Id: @user.Id</h4>
    <h4>User Name: @user.UserName</h4>
}

@section scripts {
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/Scripts/LoadCharts.js")
}