@model ProjectMusic.Entities.Domain.ApplicationUser

@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_ChatLayout.cshtml";
}

<h2>Chat</h2>
<div class="chat-panel panel panel-default">
    <div class="panel-heading mb-2">
        Powered by SingalR
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body" id="chat" style="height:250px;">
        <input type="hidden" id="displayname" value="@User.Identity.Name" />

        <p id="discussion"></p>
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        <div class="input-group mt-2">
            <input id="message" type="text" name="message" class="form-control input-sm" placeholder="Type your message here..." />

                <button id="sendmessage" value="Send" class="btn orange-button ml-2 mr-2 mt"><i class="fa fa-paper-plane fa-fw"></i> Send</button>

        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.4.1.min.js")
    @Scripts.Render("~/SignalR/Hubs/")
    @Scripts.Render("~/Scripts/ChatApp.js")
}