@model ProjectMusic.Web.Models.HomeViewModel
@using System.Linq;

@{
    ViewBag.Title = "User Area";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

<!-- Paypal API -->
<script src="https://www.paypal.com/sdk/js?client-id=AVysmG2b9yJwEocepwm8eMOcKrAwDQT91kZz1FFP18SmP62nKmr_jts6OOyOhBb0yIEwg22e0-NNy_uW"></script>

<!-- ***** Welcome Area Start ***** -->
<section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">
        <!-- Single Welcome Slide -->
        <div class="welcome-welcome-slide bg-img bg-overlay" style="background-image: url(../Content/theme/img/bg-img/1.jpg)">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Welcome Text -->
                        <div class="welcome-text">
                            <h2 data-animation="fadeInUp" data-delay="100ms">New Release</h2>
                            <h5 data-animation="fadeInUp" data-delay="300ms">Be the first to get your hands on the latest release! </h5>
                            <div class="welcome-btn-group">
                                <a href="#" class="btn poca-btn m-2 ml-0 active">Order Now</a>
                            </div>
                        </div>
                        <!-- Welcome Music Area -->
                        <div class="poca-music-area mt-100 d-flex align-items-center flex-wrap" data-animation="fadeInUp" data-delay="900ms">
                            <div class="poca-music-thumbnail">
                                <img src="~/Content/theme/img/bg-img/4.jpg" alt="">
                            </div>
                            <div class="poca-music-content">
                                <span class="music-published-date">December 9, 2018</span>
                                <h2>Episode 203 - The Last Blockbuster</h2>
                                <div class="music-meta-data">
                                    <p>By <a href="#" class="music-author">Admin</a> | <a href="#" class="music-catagory">Tutorials</a> | <a href="#" class="music-duration">00:02:56</a></p>
                                </div>
                                <!-- Music Player -->
                                <div class="poca-music-player">
                                    <audio preload="auto" controls>
                                        <source src="~/Content/theme/audio/dummy-audio.mp3">
                                    </audio>
                                </div>
                                <!-- Likes, Share & Download -->
                                <div class="likes-share-download d-flex align-items-center justify-content-between">
                                    <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
                                    <div>
                                        <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>
                                        <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Welcome Area End ***** -->
<!-- ***** Latest Episodes Area Start ***** -->
<section class="poca-latest-epiosodes section-padding-80">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Available Albums</h2>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Projects Menu -->
    <div class="container">
        <div class="poca-projects-menu mb-30 wow fadeInUp" data-wow-delay="0.3s">
            <div class="text-center portfolio-menu">
                <button class="btn active" data-filter="*">All</button>
                @foreach (var item in Model.GenreNames.Distinct())
                {
                    <button class="btn" data-filter=.@item>@item</button>
                }
            </div>
        </div>
    </div>

    <div class="container-fluid" style="width:90%">
        <div class="poca-portfolio">

            @foreach (var album in Model.Albums)
            {
                <!-- Single gallery Item -->

                <div class="col-12 col-md-3 single_gallery_item @album.Songs.First().Genres.First().GenreName wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Welcome Music Area -->
                    <div class="poca-music-area style-2 d-flex align-items-center flex-wrap">
                        <div class="poca-music-thumbnail">
                            <img src="~/Content/theme/img/bg-img/5.jpg" alt="">
                        </div>
                        <div class="poca-music-content text-center">
                            <a href="/User/Album/Details/@album.AlbumId">
                                <h2>@Html.DisplayFor(modelItem => album.AlbumName)</h2>
                            </a>
                            <div class="music-meta-data">
                                <p>By <a href="#" class="music-author">@album.Artist.ArtistName</a> | <a href="#" class="music-catagory">@album.Songs.First().Genres.First().GenreName</a></p>
                            </div>
                            <span class="music-published-date mb-2">Listen to the Sample</span>
                            <!-- Music Player -->
                            <div class="poca-music-player">
                                <audio preload="auto" controls>
                                    @{
                                        var path = "../Content/theme/audio/" + @album.Songs.First().SongName + ".mp3";
                                    }
                                    <source src=@path>
                                </audio>
                            </div>
                            <!-- Likes, Share & Download -->
                            <div class="likes-share-download d-flex align-items-center justify-content-between">
                                @if (@User.Identity.IsAuthenticated)
                                {
                                    <button type="button" class="btn" data-toggle="modal" data-target="#modal-@album.AlbumId"> <i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>Order Now</button>
                                    <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="modal-@album.AlbumId" tabindex="-1" role="dialog" aria-labelledby="modal-short-title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-long-title">@Html.DisplayFor(modelItem => album.AlbumName) - Price: @album.AlbumPrice</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div id="paypal-container-@album.AlbumId" class="modal-body">
                                <script>
                                    paypal.Buttons({
                                        createOrder: function (data, actions) {
                                            // This function sets up the details of the transaction, including the amount and line item details.
                                            return actions.order.create({
                                                purchase_units: [{
                                                    amount: {
                                                        value: @album.AlbumPrice
                                                    }
                                                }]
                                            });
                                        },
                                        onApprove: function (data, actions) {
                                            // This function captures the funds from the transaction.
                                            return actions.order.capture().then(function (details) {
                                                // This function shows a transaction success message to your buyer.
                                                //alert('Transaction completed by ' + details.payer.name.given_name);
                                                window.location.replace("https://localhost:44315/User/UserThankYou");
                                            });
                                        }
                                    }).render("#paypal-container-@album.AlbumId");
                                    //This function displays Smart Payment Buttons on your web page.
                                </script>
                            </div>
                            <div class="modal-footer">
                                @*<button type="button" class="btn" data-dismiss="modal">Close</button>
                                <button type="button" class="btn">Save changes</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- ***** Latest Episodes Area End ***** -->