@model PagedList.IPagedList<ProjectMusic.Entities.Domain.Song>
@using PagedList;
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "All Songs";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@{
    SelectListItem a1 = new SelectListItem() { Text = "5", Value = "5" };
    SelectListItem a2 = new SelectListItem() { Text = "10", Value = "10" };
    SelectListItem a3 = new SelectListItem() { Text = "25", Value = "25" };
    SelectListItem a4 = new SelectListItem() { Text = "50", Value = "50" };
    SelectListItem a5 = new SelectListItem() { Text = "100", Value = "100" };
    List<SelectListItem> items = new List<SelectListItem>() { a1, a2, a3, a4, a5 };
}





<div class="main-card mb-3 card">
    <div class="card-header">
        Manage Users
        <div class="btn-actions-pane-right">
            <div role="group" class="btn-group-sm btn-group">
                <button class="active btn btn-focus">Last Week</button>
                <button class="btn btn-focus">All Month</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Name</th>
                    <th class="text-center">City</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center text-muted">#345</td>
                    <td>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-3">
                                    <div class="widget-content-left">
                                        <img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="widget-content-left flex2">
                                    <div class="widget-heading">John Doe</div>
                                    <div class="widget-subheading opacity-7">Web Developer</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">Madrid</td>
                    <td class="text-center">
                        <div class="badge badge-warning">Pending</div>
                    </td>
                    <td class="text-center">
                        <button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center text-muted">#347</td>
                    <td>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-3">
                                    <div class="widget-content-left">
                                        <img width="40" class="rounded-circle" src="assets/images/avatars/3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="widget-content-left flex2">
                                    <div class="widget-heading">Ruben Tillman</div>
                                    <div class="widget-subheading opacity-7">Etiam sit amet orci eget</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">Berlin</td>
                    <td class="text-center">
                        <div class="badge badge-success">Completed</div>
                    </td>
                    <td class="text-center">
                        <button type="button" id="PopoverCustomT-2" class="btn btn-primary btn-sm">Details</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center text-muted">#321</td>
                    <td>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-3">
                                    <div class="widget-content-left">
                                        <img width="40" class="rounded-circle" src="assets/images/avatars/2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="widget-content-left flex2">
                                    <div class="widget-heading">Elliot Huber</div>
                                    <div class="widget-subheading opacity-7">Lorem ipsum dolor sic</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">London</td>
                    <td class="text-center">
                        <div class="badge badge-danger">In Progress</div>
                    </td>
                    <td class="text-center">
                        <button type="button" id="PopoverCustomT-3" class="btn btn-primary btn-sm">Details</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center text-muted">#55</td>
                    <td>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-3">
                                    <div class="widget-content-left">
                                        <img width="40" class="rounded-circle" src="assets/images/avatars/1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="widget-content-left flex2">
                                    <div class="widget-heading">Vinnie Wagstaff</div>
                                    <div class="widget-subheading opacity-7">UI Designer</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">Amsterdam</td>
                    <td class="text-center">
                        <div class="badge badge-info">On Hold</div>
                    </td>
                    <td class="text-center">
                        <button type="button" id="PopoverCustomT-4" class="btn btn-primary btn-sm">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-block text-center card-footer">
        <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
        <button class="btn-wide btn btn-success">Save</button>
    </div>
</div>








<h2>All Songs</h2>

<div class="container-fluid box">
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, x => @Url.Action("Index", "Song", new { page = x, sortOrder = ViewBag.CurrentSortOrder, searchName = ViewBag.CurrentName, pSize = ViewBag.CurrentpSize }))
    </div>
    <div>
        @using (Html.BeginForm("Index", "Song", FormMethod.Get, new { @class = "form-inline" }))
        {
            @Html.TextBox("searchName", null, new { @class = "form-control", placeholder = "Search Name" })
            string str = ViewBag.CurrentSortOrder;
            @Html.TextBox("sortOrder", str, new { type = "hidden" })

            @Html.DropDownList("pSize", items, new { @class = "form-control" })
            <input type="submit" value="Search" class="btn btn-primary" />
        }
    </div>
</div>

<a class="btn btn-primary" href="/Admin/Song/Create">Create New</a>

<table class="table mt-2">
    <tr>
        <th>
            <div class="float-left">
                Song Name
            </div>
            <div class="float-left ml-2">
                @Html.ActionLink("Sort", "Index", "Song", new { sortOrder = ViewBag.NameSort }, new { @class = "btn btn-primary" })
            </div>
        </th>
        <th></th>
    </tr>

    @foreach (var song in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => song.SongName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = song.SongId }) |
                @Html.ActionLink("Details", "Details", new { id = song.SongId }) |
                @Html.ActionLink("Delete", "Delete", new { id = song.SongId })
            </td>
        </tr>
    }

</table>
